@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}





#menu {
    display: nome;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: nome;
}

.submenu {
    position: relative;
    
}

.submenu #carrito {
    display: nome;
}

.submenu:hover #carrito {

    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: gray;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th,td {
    color: beige;
}

.borrar {
    background-color: yellowgreen;
    border-radius: 50%;
    padding: 5px 10px;
    color: aliceblue;
    font-weight: 800;
    cursor: pointer;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-txt {
    flex-basis: 50%;
    margin-right: 25px;
}

.span {
    color: yellowgreen;
    font-size: 17px;
    font-weight: 600;
    display: block;
    margin-bottom: 25px;
}

.header-txt h1 {
    font-size: 20px;
    text-transform: capitalize;
    line-height: 1;
    color: black;
    margin-bottom: 35px;
}

.header-txt p {
    font-size: 17px;
    color: grey;
    margin-bottom: 35px;
}

.butons {
    display: flex;

}

.btn-1 {
    display: inline-block;
    padding: 13px 20px;
    background-color: yellowgreen;
    margin-right: 20px;
    color: aliceblue;
    text-transform: capitalize;
    margin-bottom: 100px;
}

.header-img {
    flex-basis: 50%;
    text-align: center;
}

.header-img img {
    height: 150px;
}

.oferts {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.ofert-1 {
    flex-basis: calc(33.3% - 20px);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b1 {
    background-color: rgb(154, 212, 36);
}

.b2 {
    background-color: yellowgreen;
}

.b3 {
    background-color: yellowgreen;

}

.ofert-txt {
    flex-basis: 50%;

}

.ofert-txt h3 {
    color: aliceblue;
    font-size: 20px;
}

.ofert-txt a {
    color: aliceblue;
}

.ofert-img {
    flex-basis: 30%;

}

.products {
    padding: 0 0 50px 0;
    text-align: center;
}

h2 {
    font-size: 40px;
    color: black;
}

.box-container {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.box {
    border-top: 2px solid yellowgreen ;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #f6fafb;
    display: nome;
}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6),
.box:nth-child(7),
.box:nth-child(8) {
    display: inline-block;
}

.box img {
    height: 200px;
}

.product-txt h3 {
    font-size: 20px;
    color: black;
    margin-bottom: 10px;

}

.product-txt p {
    margin-bottom: 25px;
    color: #515151;
}

.Precio {
    font-size: 17px;
    font-weight: 700;
    color: yellowgreen !important;
}

.btn-2,
.btn-3 {
    background-color: yellowgreen;
    margin-top: 50px;
    display: inline-block;
    padding: 11px 35px;
    border-radius: 25px;
    color: #f6fafb;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-2:hover,
.btn-3:hover,
.btn-1:hover {
    background-color: pink;
}

.btn-3 {
    margin: 0;
    padding: 8px 25px;
    border-radius: 5px;
}

.testimonial {
    padding: 100px 0;
    text-align: center;
}

.testimonial-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.testimonial-1 {
    flex-basis: calc(50% - 20px);
    padding: 50px;
    text-align: left;
    background-color: #f6fafb;
    border-top: 5px solid yellowgreen;
}

.testimonial-1 img {
    width: 100px;
}

.testimonial-1 h4 {
    font-size: 17px;
    color: black;
}

.testimonial-1 p {
    color: darkgrey;
    margin-bottom: 25px;
}

.footer {
    background-color: rgb(30, 100, 16);
    padding: 100px 0;

    border-top: 2px solid yellowgreen ;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   
    display: nome;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    color: #f6faff;
    font-size: 18px;
    margin-bottom: 15px;

}



.link a {
    color: #f6fafb;
    display: block;
    margin-bottom: 10px;
}

.link a:hover {
    color: pink;
}

@media (max-width:991px) {

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial;
    }

    .logo {
        display: nome;
    }

    .menu .navbar ul li a:hover {
        color: #f6fafb;
    }

    .submenu:hover #carrito {
        width: 100%;
    }

    .header {
        padding: 50px 0 0 0;
    }

    .header-content {
        padding: 30px;
        flex-direction: column;
        text-align: center;

    }

    .header-txt {
        margin-right: 0;
    }

    .butons {
        justify-content: center;
    }

    .btn-1 {
        margin-bottom: 0;
    }

    .header-img {
        display: nome;
    }

    .oferts {
        padding: 30px;
        flex-direction: column;

    }

    .ofert-1 {
        margin-bottom: 15px;
    }

    .products {
        padding: 0 30px 30px 30px;
    }

    .testimonial {
        padding: 30px;
    }

    .testimonial-content {
        margin-top: 20px;
        flex-direction: column;

    }

    .testimonial-1 {
        padding: 25px;
        margin-bottom: 25px;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center ;
    }
   
}

    
